@import url(https://fonts.google.com/specimen/Montserrat);
h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  vertical-align: middle; }

img {
  width: 100%;
  max-width: 100%; }

.content p {
  font-family: 'Georgia', serif; }

.content h3 {
  text-transform: uppercase;
  padding-bottom: 10px; }

.banner {
  background-image: url("../img/banner.jpg");
  height: 500px;
  width: 100%;
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .banner {
      height: 300px; } }

.logo {
  padding: 20px;
  margin: auto;
  display: block;
  width: auto;
  max-width: 100%;
  width: 250px; }

.sub-heading {
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  vertical-align: middle; }

.content {
  padding: 20px; }
  @media screen and (max-width: 768px) {
    .content {
      padding: 10px 0px; } }

.monts {
  font-family: 'Montserrat', sans-serif; }

/*# sourceMappingURL=main.css.map */
