@import url(https://fonts.google.com/specimen/Montserrat); 
@import "helper/placeholders";
@import "helper/mixins";
@import "helper/variables";

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: $global-padding;
  @include center;
}

img {
  width: 100%;
  max-width:100%;
}

.content p {
  font-family: 'Georgia', serif;
}

.content h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.banner {
  background-image: url($main-banner);
  height: 500px;
  width: 100%;
  background-size: cover;
    @media screen and (max-width: 768px) {
      height: 300px;
    }
}

.logo {
  padding: $global-padding;
  @include img-center;
  width: 250px;
}

.sub-heading {
  text-transform: uppercase;
  padding: $global-padding;
  @include center;
}

.content {
  padding: $global-padding;
    @media screen and (max-width: 768px) {
      padding:10px 0px;
    }
}

.monts {
  font-family: 'Montserrat', sans-serif;
}




